@import 'tailwindcss';

.widget-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(20, 20, 20, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.1);
  --wails-draggable: drag;
}

/* Reset mặc định để không bị đè màu nền */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}